html {
  box-sizing: border-box;
  font-family: $fuente;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $gris;
}

.contenedor,
.contenedor-telefono,
.contenedor-tablet,
.contenedor-extra {
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main {
  display: flex;
}

.contenedor {
  width: min($pc, 90%);
}

.contenedor-telefono {
  width: min($telefono, calc(90% - 200px));
}

.contenedor-tablet {
  width: min($tablet, calc(90% - 200px));
}

.contenedor-extra {
  width: min($extra, calc(90% - 200px));
}

.columnas-2 {
  @include columnas(2, 5px);
}

.columnas-3 {
  @include columnas(3, 5px);
}

.columnas-4 {
  @include columnas(4, 5px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
