.barra-lateral {
  width: min(250px, 90%);
  padding: 15px;
  background-color: lighten($negro, 30);
  color: $blanco;
  font-size: 18px;
}

ul.menu li {
  &:hover {
    ul.sub-menu {
      display: block !important;
    }
  }

  a {
    color: $blanco;
    display: block;
    padding: 15px;

    &:hover {
      background: lighten($negro, 35);
    }
  }
}

ul.sub-menu {
  display: none;
  margin-left: 15px;
}
