.formulario {
  display: block;
  position: relative;

  label {
    display: block;
    margin-bottom: 5px;
  }
}

.contenedor-campos,
.contenedor-botones {
  padding: 15px 10px;
  position: relative;
}

.contenedor-botones {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.textos {
  display: block;
  width: 100%;
  height: 35px;
  padding: 10px;
  border: solid 1px $gris;
  border-radius: 7px;
  outline: none;

  &:focus {
    border-color: $azul;
  }
}

.textos:not([id="txt_usuario"]):not([type="email"]):not([type="password"]) {
  text-transform: uppercase;
}

span.error,
span.correcto {
  display: none;
  position: absolute;
  right: 16px;
  top: 46px;
}

.etiqueta {
  span.error,
  span.correcto {
    right: 5px;
    top: 9px;
  }
}

span.error {
  color: $rojo;
}

span.correcto {
  color: $verde;
}

.textos:user-invalid {
  border-color: $rojo;

  + span.error {
    display: block;
  }
}

.textos:user-valid {
  border-color: $verde;

  + span.error + span.correcto {
    display: block;
  }
}

.etiqueta {
  display: flex;
  position: relative;

  .textos {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  span:first-child {
    min-width: 40px;
    display: flex;
    justify-content: center;
    background-color: $azul;
    color: $blanco;
    padding: 8px;
    margin-left: -4px;
    border-radius: 7px 0 0 7px;
  }
}

.requerido {
  color: $rojo;
}

.boton {
  @include boton;
}

.boton-azul {
  @include boton-color($azul, $blanco);
}

.boton-verde {
  @include boton-color($verde, $blanco);
}

.boton-rojo {
  @include boton-color($rojo, $blanco);
}

.boton-gris {
  @include boton-color($gris, #000);
}

.circular {
  border-radius: 20px;
}
