.contenedor-tabla {
  overflow: auto;
}

.tabla {
  width: 100%;
  padding: 10px;
  border-collapse: collapse;

  tr {
    border-bottom: solid 1px $gris;
  }

  th,
  td {
    text-align: center;
    padding: 12px;
  }

  th {
    color: darken($azul, 15);
  }

  .estatus {
    padding: 5px;
    border-radius: 20px;
    color: $blanco;
    text-align: center;
  }

  .activo {
    background-color: $verde;
  }

  .inactivo {
    background-color: $rojo;
  }
}
